.description {
    background-color: rgb(229, 229, 229);
    width: 300px;
    height: 300px;
   text-align: center;
    margin:  auto;
    padding-top: 20px;
}


.avatar {
  
    background-color: rgb(130, 130, 130);
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.stats {
    list-style: none;
 display: flex;
 justify-content: center;

}

.profile{
    margin: 1em auto;
}

.name {
font-weight: bold;
}
.item {
    width: 77px;
   border: 1.5px rgb(240, 240, 240) solid;
    background-color: rgb(222, 222, 222);
    padding: 10px 10px 10px 10px;
}