ul {
    margin: 0;
    padding: 0;
}


.text {
    color: white;
}

.list {
   
    display: flex;
    align-items: center;

    list-style: none;
}

.item {
    padding-left: 20px;
    width: 100px;
    height: 100px;
}
.vithoc {
    color: white;
    font-size: 20px;
}

.title {
    
    
    width: 600px;
    background-color: rgb(234, 234, 234);
    display: flex;

    justify-content: center;
}

